<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.opencad.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default Perspective"
            class="org.opencad.Perspective"
            id="org.opencad.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.opencad.application"
            name="OpenCad.org">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="opencad-logo.gif">
         </property>
      </product>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.swt.opengl.examples"
            class="org.opencad.scene.PerspectiveGLView"
            id="org.opencad.perspective"
            name="Perspective"/>
   </extension>

</plugin>
