<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.ui.editors">
     <editor
           class="org.opencad.ui.editors.GLEditor"
           extensions="ocm"
           icon="icons/overview_obj.gif"
           id="org.opencad.core.editors.GLEditor"
           name="OpenGL Editor"/>
  </extension>
  <extension
        point="org.eclipse.ui.editorActions">
     <editorContribution
           id="org.opencad.core.addWallContribution"
           targetID="org.opencad.core.editors.GLEditor">
        <action
              class="org.opencad.walls.ui.AddWallActionDelegate"
              icon="icons/plugin_config_obj.gif"
              id="org.opencad.core.addWallAction"
              label="New Wall"
              style="push"
              toolbarPath="GLEditor"/>
        <action
              class="org.opencad.corners.ui.AddCornerActionDelegate"
              icon="icons/build_var_obj.gif"
              id="org.opencad.core.AddCornerAction"
              label="New Corner"
              style="push"
              toolbarPath="GLEditor"/>
     </editorContribution>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           name="OpenCad.org">
        <property
              name="windowImages"
              value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png"/>
        <property
              name="aboutText"
              value="%productBlurb"/>
        <property
              name="aboutImage"
              value="eclipse_lg.gif"/>
        <property
              name="startupForegroundColor"
              value="FFFFFF"/>
        <property
              name="startupProgressRect"
              value="410,410,420,10"/>
        <property
              name="startupMessageRect"
              value="0,0,0,10"/>
     </product>
  </extension>
</plugin>
